footer {
    margin-top: 30vh;
}
.duvidas {
    max-width: 70%;
    margin: 0 auto;
    height: 50vh;
}

.pergunta {
    width: 80%;
    margin: 0 auto;
    background-color: #1C1C1C;
    border: 2px solid #e3e3e3;
    color: #ffffff;
    padding: 2vh;
    box-sizing: border-box;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 2s ease-in-out;
}
.duvidas p {
    visibility: hidden;
}

.pergunta:hover {
    height: 20vh; /* Alteração para 4vh ao passar o mouse */
    margin-bottom: 20px;

}

.pergunta:hover p{
    visibility: visible;

}

.pergunta p {
    display: none; /* Oculta o parágrafo inicialmente */
}

.pergunta.expandido p {
    display: block; /* Mostra o parágrafo quando a pergunta está expandida */
}

.img_footer {

    width: 100%;
}



























